.badge {
  font-weight: 300;
  padding: 6px $padding-base-horizaontal 6px $padding-base-horizaontal;
  border-radius: 0;
  font-size: $font-size-xs;
  text-transform: uppercase;

  &-light {
    color: #fff !important;
  }
}