.block-container {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 12px 6px 12px 12px;
  position: relative;
}

.block-label {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  bottom: 12px;
  right: -5px;
  display: inline-block;
  padding: 5px 25px;
  padding-left: 10px;
  padding-left: 20px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-align: center;
  color: white;
  background: inherit;
}

.contact_button > a {
  padding: 10px 35px;

  &:before {
    left: 10px;
  }
}


.link-block {
  color: #2f8482;

  &:hover {
    color: #1f6565;
    text-decoration: underline;
  }
}

.link-whitepaper {
  color: #2f8482;
  border: 2px solid;
  padding: 2px 7px;
  border-radius: 5px;

  &:hover {
    color: #1f6565;
  }
}

.list-social {
  list-style: none;

  li {
    float: left;
    border-bottom: none;
    font-size: 25px;
    margin-right: 10px;

    a {
      color: #2f8482;

      &:hover {
        color: #1f6565;
      }
    }
  }
}

.main_box {
  border: 1px solid #2e9593;
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.08);
  display: inline-block;
  margin-bottom: 16px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.voting {
  > div {
    border: 1px solid #2e9593;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    position: relative;
  }

  a {
    font-size: 16px;
  }
}

.loader_box {
  background-color: #33908e;
  color: #fff;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.rating-stars {
  text-align: center;
  font-size: 25px;

  > i {
    margin-right: 5px;
    color: $color-theme-1;
  }
}