.container {
  padding-left: $content-padding-md * 2;
  padding-right: $content-padding-md * 2;

  @media (min-width: 1200px) {
   max-width: inherit;
  }
}

.wrapper {
  &-sm {
    padding: 0 $content-padding-lg !important;
  }
}

body {
  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    font-family: inherit !important;
  }
}

.controls-group {
  &-sm {
    padding-bottom: $content-padding-sm;
  }

  &-md {
    padding-bottom: $content-padding-md;
  }

  &-lg {
    padding-bottom: $content-padding-lg;
  }
}

.link {
  color: #007bff;

  &:hover {
    text-decoration: underline;
  }

  &-sm {
    font-size: $font-size-sm;
  }

  &-light {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}