.btn {
  border-radius: 0;
  font-weight: bold;
  padding: $padding-base-vertical $padding-base-horizaontal;
  font-family: $font-family-second !important;
  &-theme {
    background-color: $color-theme-1;
    color: #fff;
  }
}