.card-block {
  border-radius: 0;
  border: 1px solid #ccc;

  .block-title {
    color: #1f6565;
    font-size: 25px;
    margin-bottom: 5px;
  }

  a {
    color: #2f8482;

    &:hover {
      color: #1f6565;
      text-decoration: underline;
    }
  }

  p {
    color: #333;
    font-weight: normal;
  }

  ol {
    li {
      list-style: decimal;
      text-align: left;
      color: #333;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }
}

