.daily-action {
  background-color: #fff;
  border: 2px solid #ff0000;
  border-radius: 8px;
  box-shadow: 0 0 10px #d20000;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.weapon-title {
  font-size: 20px !important;
}

.wblock {
  &:hover {
    cursor: pointer;
  }
}