#header {
    .topuser-img {
        margin-right: 5px;
    }
}

.header-menu {
    &-main {
        padding: 20px 0;

        .logo {
            width: 100%;
            text-align: center;

            img {
                height: 70px;
            }
        }
    }
}