.owl-nav > owl-prev,
.owl-nav > owl-next {
  border: 2px solid #a4a4a4 !important;
  color: #a4a4a4 !important;
  height: 30px;
  left: -52px;
  line-height: 26px !important;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}