.owl {
  &-nav {
    .owl {
      &-next,
      &-prev {
        position: absolute;
        top: 35%;
        font-size: 25px;
        font-weight: 300;
        font-family: SERIF;
        border: 1px solid #1f6565;
        background-color: #1f6565;
        color: #fff;
        padding: 0px 10px;
      }

      &-next {
        right: -10px;
      }

      &-prev {
        left: -10px;
      }
    }
  }
}