.plan {
  padding: $content-padding-lg;
  display: block;
  background-color: #ddd;

  &-title {
    text-align: center;
    text-transform: uppercase;
  }

  &-title {
    font-size: $font-size-base;
    font-weight: bold;
  }

  &-price {
    font-size: $font-size-base * 1.5;
    text-align: center;
  }

  &-description {
    margin: $content-padding-md 0;
  }

  &-order {
    text-align: center;
  }
}

.plan-wrapper {
  padding: $content-padding-md !important;
  position: sticky;
  top: 30%;
}