.pin {
    &.pin-ended {
        background-color: #1f6565 !important;
    }
}

.trending-box-margin {
    margin: 0 29px;
}

.position {
    &-left {
        margin-right: $padding-base-vertical;
    }

    &-right {
        margin-left: $padding-base-vertical;
    }
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-semibold {
    font-weight: 500 !important;
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .mt-#{$val} {
        margin-top: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .mb-#{$val} {
        margin-bottom: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .ml-#{$val} {
        margin-left: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .mr-#{$val} {
        margin-top: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .pt-#{$val} {
        padding-top: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .pb-#{$val} {
        padding-bottom: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .pl-#{$val} {
        padding-left: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .pr-#{$val} {
        padding-right: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .p-#{$val} {
        padding: $val * 1px !important;
    }
}

@for $i from 1 through 20 {
    $val: $i * 5;

    .m-#{$val} {
        margin: $val * 1px !important;
    }
}

.errors {
    list-style-type: none;

    li {
        line-height: 20px;
    }
}

.alert-text-small {
    font-size: $font-size-sm !important;
}