.trending-section {
    padding-top: 180px !important;
    padding-bottom: 50px !important;
}

button,
input[type="submit"]
a {
    &.button{
        background-image: url('../rating/images/button_bg.png');
    }
}