.left_sidebar {
    ul {
        li {
            color: #000;
            padding: 10px 0;
            font-weight: bold;
        }
    }

    .sidebar-link {
        color: #194792;
        display: table;
        padding: 20px 0;
    }

    .sidebar-business-list {
        > li {
            color: #000;
            padding: 10px 0;
            font-weight: normal;
            font-size: 16px;

            .list-title,
            .list-desc {
                display: block;
            }

            .list-title {
                font-weight: bold;
                color: #194792;
            }

            .list-desc {
                font-size: 14px;
                margin-top: 7px;
            }
        }
    }
}