.latest-section, .trending-section, .join-block-union {
  background-image: url(../main/images/main-bg.jpg);
}

.owl-carousel-main .owl-item img {
  margin-left: auto !important;
}

.trending-section-main {
  padding-top: 60px !important;
}

.quick-link {
  ul {
    list-style-type: none;
  }
}