.left-info > p {
  font-size: 17px !important;
}

.price > p {
  font-size: 15px !important;
}

.trending-section .btn-regular {
  margin-right: 0 !important;
}

.right-side h4 {
  font-size: 15px !important;
}
