.header-center-main {
  float: none !important;
}

.header-menu {
  background-image: url(../main/images/main-bg.jpg);
}

.menu-act li:not(:last-child) a:before {
  background-image: url(../main/images/menu-icon-sprite.png);
}