// Fonts
$font-family-second: "Nexa", sans-serif;
$font-size-base: 1rem;
$font-size-sm: 0.85rem;
$font-size-xs: 0.65rem;

// Content paddings
$content-padding-sm: 10px;
$content-padding-md: 20px;
$content-padding-lg: 30px;
$padding-base-vertical: 8px;
$padding-base-horizaontal: 15px;
//Colors
$color-theme-1: #1f6565;