.widget-overview {
  .widget-wrapper {
    padding: $content-padding-md;
  }

  .text {
    &-figure {
      font-size: $font-size-base * 2;
      text-align: center;
      font-weight: bold;
    }

    &-desc {
      text-align: center;
      margin-top: $content-padding-sm !important;
      margin-bottom: $content-padding-md !important;
    }
  }

  .url {
    position: absolute;
    bottom: 0;
    width: 91%;
    color: #fff;
    text-align: center;
    font-size: $font-size-sm * 0.8;
    padding: $content-padding-sm / 2;
    text-transform: uppercase;
  }
}

.widget-blocks {
  background-color: #458686 !important;
  color: #fff !important;

  .url {
    background-color: #1f6565;

    &,
    a {
      color: #fff !important;
    }
  }
}